.page-header {
    padding: 60px 0;
    background-color: $tertiaryColor;
    h1 {
        
    background: text linear-gradient(234deg, #AF7838, #EFD878, #AF7838);
    color: transparent;
    text-align: center;
font-size: 25px;
         @include media-up(md) {
             font-size: 35px;

            }
    }
    p {
        
    background: text linear-gradient(234deg, #AF7838, #EFD878, #AF7838);
    color: transparent;
    text-align: center;
    font-size: 20px;

         @include media-up(md) {
              font-size: 25px;

            }
    }
}


.page-content {
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: white;
    .inner-content {
        display: flex;
        gap: 20px;
   flex-direction: column;
             @include media-up(md) {
               flex-direction: row;

            }
       
       
      
        
        .right-section {
           
width: 100%;
                 @include media-up(md) {
                width: 70%;

            }
           
            background-color: $secondaryColor;
            border-radius: 6px;
            padding: 15px;
            .main-image {
                width: 100%;

                height: 100%;
                object-fit: cover;
      @include media-up(md) {
                width: 100%;
                height: 500px;

            }
                
                overflow: hidden;
                border-radius: 6px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

 .product-title{
  color: $tertiaryColor;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
        @include media-up(md) {
               text-align: start;

            }
}
            .description {
                p {
                    margin-bottom: 15px;
                    color: $tertiaryColor;
                    font-size: 18px;

                    text-align: center;
        @include media-up(md) {
               text-align: start;

            }
                }
            }

.props {
    background-color: $secondaryColor;
    border: 1px solid $tertiaryColor;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    @include media-up(md) {
        flex-direction: row;
    }

    div {
        width: 100%;
        
        @include media-up(md) {
            padding: 0 10px; 
        }

        &:first-child {
            border: none;
            @include media-up(md) {
                border-left: 1px solid $tertiaryColor;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                color: $tertiaryColor;
                font-weight: bold;
                margin-bottom: 25px;
                padding: 0 25px;

                &::after {
                    content: ":";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 22px;
                    color: $tertiaryColor;
                }

                span {
                    font-weight: bold;
                    width: 40%;
                    text-align: left;
                }

                text-align: right;
            }
        }
    }
}


            .extra-props {
                  background-color: $secondaryColor;
                    padding: 20px;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
               justify-content: center;
               align-items: center;
              
 @include media-up(md) {
               flex-direction: row;
             

            }
                 
                gap: 15px;
                color: $tertiaryColor;
                .box {
                   width: 100%;
                     @include media-up(md) {
          width: 33%;

            }
                    border-radius: 6px;
                    padding: 15px;
                  border: 1px solid $tertiaryColor;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    i {
                        font-size: 30px;
                      color: $primaryColor;
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                      background-color: $textLight;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                    h4 {
                        margin: 10px 0;
                        color: $tertiaryColor;
                        font-weight: bold;
                    }
                    p {
                        color: $tertiaryColor;
                        font-weight: 600;
                    }
                }
            }

         .swiper {
  width: 100%;

  position: relative;

  .swiper-slide {
 height: 250px;
          @include media-up(md) {
                width: 100%;
    height: 500px;

            }
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* الأسهم */
  .swiper-button-prev,
  .swiper-button-next {
    color: $primaryColor;
   width: 25px;
   height: 25px;

          @include media-up(md) {
            
     width: 35px;
   height: 35px;

            }

    
  }

.swiper-pagination {
    position: absolute;
    bottom: 20px;    
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: $tertiaryColor;
    

      .swiper-pagination-bullet-active {
    background: $primaryColor !important;
  }
  }
}

      iframe {
        width: 100%;
        height: 200px;
   @include media-up(md) {
             width: 100%;
        height: 450px; 


            }

       }



            .inner-props {
                      background-color: $secondaryColor;
                       border: 1px solid $tertiaryColor;
                    padding: 20px;
                border-radius: 6px;
                display: flex;
               flex-direction: column;
     @include media-up(md) {
            
  flex-direction: row;

            }

   
              
                gap: 15px;
                color: $tertiaryColor;
                margin-top: 20px;
                .box {
                 width: 100%;
     @include media-up(md) {
         
      width: 33%;

            }

                    ul {
                        li {
                            margin-bottom: 15px;
                            position: relative;
                            margin-right: 25px;
                            border-bottom: 1px solid $primaryColor;
                            padding-bottom: 8px;
                            width: fit-content;
                            color: $tertiaryColor;
                            font-weight: 600;

                            &::before {
    position: absolute;
       content: "\f560";
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            color: $tertiaryColor;
            
   
   
    top: 45%;
    transform: translateY(-50%);
    right: -25px;
   
}
                        }
                    }
                }
            }

           form {
                           border: 1px solid $tertiaryColor;

    padding: 20px;
    border-radius: 6px;
    width: 100%;

    .info-inputs {
        display: flex;
        gap: 15px;
        div {
            width: 100%;

         label {
            display: block;
            margin-bottom: 6px;
            color: $tertiaryColor;
            font-weight: 600;
         }
        
                input {
        width: 90%;
        background-color: white;
        border-radius: 6px;
        border: 1px solid #d4d2d2;
        height: 35px;
        margin-bottom: 20px;
       
        
        
        &:focus {
            outline: 1px solid $primaryColor;
        }
    }
        }
    }



    textarea {
        width: 100%;
        background-color: white;
        border-radius: 6px;
        border: 1px solid #d4d2d2;
        height: 150px;
        margin-bottom: 10px;
   &:focus {
            outline: 1px solid $primaryColor;
        }

    }
} 
        }



        .left-section {
 position: sticky;
  top: 20px;
 width: 100%;
    @include media-up(md) {
         width: 30%;
         height: 650px;
     

            }

 background-color: $tertiaryColor;  
  padding: 40px;
  border-radius: 10px;
       
      .category {

 

 
 

  .category-box {
    margin-bottom: 30px;

    .title {
      font-size: 1.2rem;
     background: text linear-gradient(234deg, #AF7838, #EFD878, #AF7838);
                color: transparent; 
      font-weight: 700;
      margin-bottom: 10px;
      border-bottom: 1px solid $primaryColor;
      padding-bottom: 7px;
    }


  }

  
  .list-links {
    list-style: none;
    padding: 0;
    
    li {
      margin-bottom: 15px;
      a {
        text-decoration: none;
        background: text linear-gradient(234deg, #AF7838, #EFD878, #AF7838);
                color: transparent; 
        font-weight: 500;
        &:hover {
          color: $primaryColor;  
        }
      }
    }
  }

  .card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $primaryColor;

    &:last-child {
      border-bottom: none;
    }

    .info {
      h3 {
        font-size: 0.95rem;
        background: text linear-gradient(234deg, #AF7838, #EFD878, #AF7838);
                color: transparent; 
        margin-bottom: 5px;
        font-weight: 600;
      }
      .meta {
        font-size: 0.85rem;
      color: $textLight;
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    img {
      width: 65px;
      height: 65px;
      object-fit: cover;
      border-radius: 8px;
      background-color: #ddd; 
    }
  }
}

 
    }

}
 }