.btn-primary {
  background: linear-gradient(135deg,
      $tertiaryColor,
    );



  color: $textLight;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden; // مهم جداً
  font-weight: 500;
  font-size: 15px;
  font-family: cairo;

   @include media-up(md) {
         
    font-size: 20px;
  padding: 10px 20px;
            }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.141);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    transition: 0.5s;
    z-index: -1;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &:hover::before {
    width: 50%;
  }

  &:hover::after {
    width: 50%;
  }
}



.btnn-primary {
  background: linear-gradient(135deg,
      $secondaryColor,
    );



  color: $tertiaryColor;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden; // مهم جداً
  font-weight: 600;
  font-size: 18px;
  font-family: cairo;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
     background-color: rgba(238, 242, 133, 0.503);


    transition: 0.5s;
    z-index: -1;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &:hover::before {
    width: 50%;
  }

  &:hover::after {
    width: 50%;
  }

  

}