aside {
    width: 250px;

    background-color: $tertiaryColor;
    height: calc(100vh - 60px);
    position: fixed;
    margin-top: 2px;
    border-top-left-radius: 10px;
    right: -250px;
    transition: 0.3s;
    z-index: 2000;


    .mobile-menu {
        padding-right: 30px;
        padding-left: 30px;

        .logo {
            width: 130px;
            margin-right: 15px;
        }

        ul {
            list-style: none;
            overflow: visible;

li {
  padding: 10px;
  text-align: center;
  position: relative;
  
  font-size: 20px;
  margin-bottom: 4px;

  a {
    color: $textLight;
    position: relative;
  

    &::before,
    &::after {
      content: "";
      position: absolute;

     
      width: 0;
      height: 2px;
      background: $primaryColor;
      transition: 0.3s ease-in-out;
    }

    &::before {
      top: -3px;
      left: 0;
    }

    &::after {
      bottom: -6px;
      right: 0;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
    }
  }
}
        }

        .icons {
            @include flexbox (center, center, row);
            gap: 10px;
            margin-top: 30px;

            i {
                font-size: 25px;
                color: $textLight;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                 
                    transform: scale(1.1);
                    filter: drop-shadow(0 0 8px $primaryColor);


                }
            }

        }

        form {
            width: 100%;
            margin-top: 20px;

            input {
                width: 100%;
                height: 30px;
                border: 2px solid $primaryColor;
                border-radius: 5px;
                padding-right: 10px;
                margin-bottom: 5px;

                &:focus {
                    outline: none;
                    border: 2px solid $primaryColor;
                }
            }


        }

    }
}