.products {

  background-color: $tertiaryColor;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -50px;


h2 {
    font-size: 25px;

    @include media-up(md) {
      font-size: 35px;
    }

    background: text linear-gradient(234deg, #AF7838, #EFD878, #AF7838);
    color: transparent;
    text-align: center;

    width: fit-content;
    margin: auto;
    position: relative;
    margin-bottom: 5px;

    &::before {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      background-color: $primaryColor;
      right: -85px;
      top: 50%;
    }

    &::after {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      background-color: $primaryColor;
      left: -85px;
      top: 50%;
    }
  }

  p {
    text-align: center;
    font-size: 20px;

    width: 100%;
    padding: 0 15px;

    @include media-up(md) {
      width: 60%;
    }

    margin: auto;
    margin-bottom: 30px;
    background: text linear-gradient(234deg, #AF7838, #EFD878, #AF7838);
    color: transparent;
  }

  .all-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;


    .product {



      position: relative;

      padding: 40px 25px;
      padding-bottom: 15px;
      background-color: $tertiaryColor;
      border: 1px solid $primaryColor;
      
      color: #fff;
      border-radius: 14px;
      overflow: hidden;
      z-index: 0;
      cursor: pointer;





      .image {
        width: 100%;
        height: 250px;
        overflow: hidden;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          transition: 0.3s;

          &:hover {
            transform: scale(1.05);
          }

        }
      }

      .info {
        padding: 10px;


        h3 {
          font-size: 16px;
          color: $textLight;
        }



        .location {
          position: relative;
          font-size: 13px;
          margin-bottom: 20px;
          margin-right: 15px;



          &::before {
            position: absolute;
            content: "\f3c5";
            color: $textLight;

            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            top: 50%;
            right: -15px;
            transform: translateY(-50%);


          }
        }

        hr {
          margin: 5px 0 !important;
          height: 0.5px !important;
          background-color: $primaryColor;
          border: none;
          width: 80% !important;
        }

        .props {
          display: flex;
          gap: 3px;
          margin-bottom: 15px;

          li {
            display: flex;
            flex-direction: column;
            padding: 5px;
            color: $textLight;
            align-items: center;
            margin-left: 10px;

            span {
              font-size: 13px;

            }
          }
        }

        .send {
          width: 100%;
        }
      }

      .offer {
        position: absolute;
        background: linear-gradient(135deg,
            #F4E15E,
            #C9A24D,
            #b57c2db2,
            #C9A24D,
            #F4E15E);
        color: $textLight;
        padding: 0 15px;
        z-index: 1500;
        left: -33px;
        top: 28px;
        transform: rotate(-45deg);
        width: 150px;
        z-index: 1;
        text-align: center;
      }
    }
  }


}