@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-color: white;
    font-family: cairo;
   
 
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}
.section-title {
  font-size: 22px;

    @include media-up(md) {
        font-size: 30px;
      }
  color: $tertiaryColor;
  text-align: center;
 
  width: fit-content;
  margin: auto;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background-color: $primaryColor;
    right: -85px;
    top: 50%;
  }
    &::after{
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background-color: $primaryColor;
    left: -85px;
    top: 50%;
  }

}

.section-desc {
  text-align: center;
  font-size: 18px;
 width: 100%;
 padding: 6px 10px;
      @include media-up(md) {
       
        width: 60%;
    }
  margin: auto;
  color: $tertiaryColor;
  margin-bottom: 25px;

}