$primaryColor: #D4AF37;
$secondaryColor: #F5F3EE;
$tertiaryColor: #1F2D24;
$textLight: #F2F2F2;
$textMain: #1F2D24;
$button-color :#C9A24D;




$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);